* {
    border: none;
    border-radius: 0;
    font-family: Lilex Nerd Font;
    min-height: 20px;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-right: 8px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    transition: none;
    background: #282828;
}

#workspaces button {
    transition: none;
    color: #ebdbb2;
    background: transparent;
    padding: 5px;
    font-size: 14px;
}

#workspaces button.persistent {
    color: #ebdbb2;
    font-size: 14px;
}

#workspaces button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
    color: #ebdbb2;
    background: #fe8019;
}

#workspaces button.focused {
    color: #ebdbb2;
}

#keyboard-state {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px; border-radius: 10px 10px 10px 10px; transition: none; color: #ebdbb2; background: #282828;
}

#clock {
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px 0px 0px 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#custom-weather {
    padding-right: 16px;
    border-radius: 0px 10px 10px 0px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#pulseaudio {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#custom-mem {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#temperature {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#temperature.critical {
    background-color: #cc241d;
}

#backlight {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#battery {
    margin-right: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 10px;
    transition: none;
    color: #ebdbb2;
    background: #282828;
}

#battery.charging {
    color: #ebdbb2;
    background-color: #b8bb26;
}

#battery.warning:not(.charging) {
    background-color: #fabd2f;
    color: #ebdbb2;
}

#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
}

@keyframes blink {
    to {
        background-color: #ebdbb2;
        color: #000000;
    }
}
